.button {
    border-radius: 8px;
    display: flex;
}


.button::after {
    content: "Back"
}


@media (max-width: 768px) {
    .button {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }

    .button::after {
        content: "<";
        margin: auto;
    }
}