.button {
    border-radius: 100%;
    display: flex;
    width: 35px;
    height: 35px;
}

.button::after {
    content: "<";
    margin: auto;
}

@media (min-width: 768px) {
    .button {
        border-radius: 8px;
    }

    .button::after {
        content: "Back"
    }
}