@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #7dc9a6;
  --foreground: #1d1d1d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1921;
    --foreground: #cacaca;
  }
}

.rootBody {
  display: flex;
  position: relative;
  z-index: 0;
  background-color: var(--background); 
  margin: 0;
  padding: 0;
}

.childrenContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}
