:root {
    --panel-color: #c8ded3;
    --divider-color: black;
}
@media (prefers-color-scheme: dark) {
    :root {
        --panel-color: #403a73;
        --divider-color: white;
    }
}

.imageContainerBack {
    background-color: var(--bg);
    width: 100%;
    display: flex;
    margin-top: calc(var(--spacing) * var(--mt));
}

.imageContainer {
    margin: auto;
    background-color: var(--background);
    width: var(--w);
    height: 100%;
}

.textContainer {
    margin-top: calc(var(--spacing) * var(--mt));
    padding-top: calc(var(--spacing) * var(--pt));
    padding-bottom: calc(var(--spacing) * var(--pb));
    background-color: var(--bg);
}

.divider {
    margin-inline: auto;
    margin-top: calc(var(--spacing) * var(--mt));
    margin-bottom: calc(var(--spacing) * var(--mb));
    color: transparent;
    background-color: var(--bg);
    border-radius: 20%;
}